.aside {
	font-size: 14px;
	color: $color-lighter;

	a {
		color: $color-lighter;

		&:hover {
			color: $color-pink;
			text-decoration: none;
		}
	}

	&__block {
		padding: 30px 0;
		position: relative;

		&::after {
			position: absolute;
			bottom: 0;
			left: 0;
			content: '';
			background-color: rgba($color-lighter, .3);
			width: 25px;
			height: 1px;
		}

		&:first-child {
			padding-top: 0;
		}

		&:last-child {
			&::after {
				display: none;
			}
		}
	}

	&__body {
		> *:last-child {
			margin-bottom: 0;
		}
	}

	h4 {
		font-size: 15px;
		color: $color;
		margin: 0 0 10px;
	}

	li {
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.li-cats {
	@include display(flex);
	@include flex-wrap(wrap);
	@include flex-direction;

	li {
		width: 50%;
	}
}

.aside__title {

	&::before {
		width: 12px;
		height: 13px;
		background-image: url(../img/icon-sprites.svg);
		background-repeat: no-repeat;
		content: '';
		display: inline-block;
		margin-right: 8px;
		vertical-align: -1px;

		.aside__block--supporters & {background-position: -36px 0}
		.aside__block--category & {background-position: -12px 0}
		.aside__block--search & {background-position: -48px 0}
		.aside__block--popular & {background-position: -60px 0}
	}
}